body{
    font-family: "Noto Sans", sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}
.navbar-left{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.navbar-left img{
    width: 60px;
    height: 60px;
}
.navbar-right ul{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.link{
    text-decoration: none;
    cursor: pointer;
    color: white;
}
.link:hover{
    color:red;
    transform: scale(1.09);
}